{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
	<h1 class="ex1">Сделай фото</h1>
	<div class="vratler">
		<video muted width="620px" height="480px"></video>
	</div>
	<button>Включить камеру</button>
	<button onclick="stopWebcam();">Выключить камеру</button>
	<button onclick="snapshot();">Сделать фото</button>
	<script src="{%  static 'code.js' %}"></script>
</body>

</html>