{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>reg</title>
	<link rel="stylesheet" href="{% static 'reg.css' %}">
</head>
<body>
	<form id="reg">
		<h1>Регистрация</h1>
		<fieldset id="inputs">
			{{ user_form.username }}
			{{ user_form.email }}
			{{ user_form.password }}
			{% csrf_token %}
			{{ user_form.password2 }}
			{% csrf_token %}
		</fieldset>
		<fieldset id="actions">
			<input type="submit" id="submit" value="Зарегистрироваться">
		</fieldset>
	</form>
</body>
</html>

			<!-- <input id="username" type="text" placeholder="Логин" autofocus required> -->
			<!-- <input id="email" type="text" placeholder="Электорнная почта" required>     -->
			<!-- <input id="password" type="password" placeholder="Пароль" required> -->
			<!-- <input id="rep_pass" type="password" placeholder="Повторите пароль" required> -->

